.tweet-box a {
	background-color: transparent;
}
.tweet-box a:active,
.tweet-box a:hover {
	outline: 0;
}
.tweet-box b {
	font-weight: 700;
}
.tweet-box img {
	border: 0;
}
.tweet-box .u-hiddenVisually {
	position: absolute !important;
	overflow: hidden !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
}
.tweet-box .u-cf:after,
.tweet-box .u-cf:before {
	content: " ";
	display: table;
}
.tweet-box .u-cf:after {
	clear: both;
}
.tweet-box .u-floatRight {
	float: right !important;
}
.tweet-box blockquote,
.tweet-box p {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
}
.tweet-box b {
	font-weight: 400;
	font-style: normal;
}
.tweet-box a {
	color: #2b7bb9;
	text-decoration: none;
	outline: 0;
}
.tweet-box a:visited {
	color: #2b7bb9;
	text-decoration: none;
	outline: 0;
}
.tweet-box a:focus {
	color: #3b94d9;
	text-decoration: underline;
	outline: 0;
}
/* a:hover {
	color: #3b94d9;
	text-decoration: none;
	outline: 0;
} */
.tweet-box a:active {
	color: #2b7bb9;
	text-decoration: none;
	outline: 0;
}
.tweet-box .u-linkBlend:not(:focus):not(:hover):not(:active) {
	font-weight: inherit;
	color: inherit;
	text-decoration: inherit;
}
.tweet-box .Avatar {
	max-width: 100%;
	max-height: 100%;
}
.tweet-box .Avatar--edge {
	border-radius: 50%;
}
.tweet-box .Icon {
	display: inline-block;
	height: 1.25em;
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: text-bottom;
}
.tweet-box .Icon--reply {
	width: 1.07639em;
	background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2062%2072%22%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23697882%22%20d%3D%22M41%2031h-9V19c0-1.14-.647-2.183-1.668-2.688-1.022-.507-2.243-.39-3.15.302l-21%2016C5.438%2033.18%205%2034.064%205%2035s.437%201.82%201.182%202.387l21%2016c.533.405%201.174.613%201.82.613.453%200%20.908-.103%201.33-.312C31.354%2053.183%2032%2052.14%2032%2051V39h9c5.514%200%2010%204.486%2010%2010%200%202.21%201.79%204%204%204s4-1.79%204-4c0-9.925-8.075-18-18-18z%22%2F%3E%3C%2Fsvg%3E);
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}
.tweet-box .Icon--retweet {
	width: 1.28472em;
	background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2074%2072%22%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23697882%22%20d%3D%22M70.676%2036.644C70.166%2035.636%2069.13%2035%2068%2035h-7V19c0-2.21-1.79-4-4-4H34c-2.21%200-4%201.79-4%204s1.79%204%204%204h18c.552%200%20.998.446%201%20.998V35h-7c-1.13%200-2.165.636-2.676%201.644-.51%201.01-.412%202.22.257%203.13l11%2015C55.148%2055.545%2056.046%2056%2057%2056s1.855-.455%202.42-1.226l11-15c.668-.912.767-2.122.256-3.13zM40%2048H22c-.54%200-.97-.427-.992-.96L21%2036h7c1.13%200%202.166-.636%202.677-1.644.51-1.01.412-2.22-.257-3.13l-11-15C18.854%2015.455%2017.956%2015%2017%2015s-1.854.455-2.42%201.226l-11%2015c-.667.912-.767%202.122-.255%203.13C3.835%2035.365%204.87%2036%206%2036h7l.012%2016.003c.002%202.208%201.792%203.997%204%203.997h22.99c2.208%200%204-1.79%204-4s-1.792-4-4-4z%22%2F%3E%3C%2Fsvg%3E);
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}
.tweet-box .Icon--twitter {
	width: 1.25em;
	background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%231da1f2%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
}
.tweet-box .Icon--verified {
	width: 1.11111em;
	background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h64v72H0z%22%2F%3E%3Cpath%20fill%3D%22%231da1f2%22%20d%3D%22M3%2037.315c0%204.125%202.162%207.726%205.363%209.624-.056.467-.09.937-.09%201.42%200%206.103%204.72%2011.045%2010.546%2011.045%201.295%200%202.542-.234%203.687-.686C24.22%2062.4%2027.827%2064.93%2032%2064.93c4.174%200%207.782-2.53%209.49-6.213%201.148.45%202.39.685%203.69.685%205.826%200%2010.546-4.94%2010.546-11.045%200-.483-.037-.953-.093-1.42C58.83%2045.04%2061%2041.44%2061%2037.314c0-4.37-2.42-8.15-5.933-9.946.427-1.203.658-2.5.658-3.865%200-6.104-4.72-11.045-10.545-11.045-1.302%200-2.543.232-3.69.688-1.707-3.685-5.315-6.216-9.49-6.216-4.173%200-7.778%202.53-9.492%206.216-1.146-.455-2.393-.688-3.688-.688-5.827%200-10.545%204.94-10.545%2011.045%200%201.364.23%202.662.656%203.864C5.42%2029.163%203%2032.944%203%2037.314z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M17.87%2039.08l7.015%206.978c.585.582%201.35.873%202.116.873.77%200%201.542-.294%202.127-.883.344-.346%2015.98-15.974%2015.98-15.974%201.172-1.172%201.172-3.07%200-4.243-1.17-1.17-3.07-1.172-4.242%200l-13.87%2013.863-4.892-4.868c-1.174-1.168-3.074-1.164-4.242.01-1.168%201.176-1.163%203.075.01%204.244z%22%2F%3E%3C%2Fsvg%3E);
}
.tweet-box .Icon--heart {
	width: 0.9375em;
	background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2054%2072%22%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23697882%22%20d%3D%22M38.723%2012c-7.187%200-11.16%207.306-11.723%208.13-.563-.824-4.496-8.13-11.723-8.13C8.79%2012%203.533%2018.163%203.533%2024.647%203.533%2039.964%2021.89%2055.907%2027%2056c5.11-.093%2023.467-16.036%2023.467-31.353C50.467%2018.163%2045.21%2012%2038.723%2012z%22%2F%3E%3C%2Fsvg%3E);
}
.tweet-box .Icon--heartEdge {
	width: 1.25em;
	background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23657786%22%20d%3D%22M12%2021.638h-.014C9.403%2021.59%201.95%2014.856%201.95%208.478c0-3.064%202.525-5.754%205.403-5.754%202.29%200%203.83%201.58%204.646%202.73.813-1.148%202.353-2.73%204.644-2.73%202.88%200%205.404%202.69%205.404%205.755%200%206.375-7.454%2013.11-10.037%2013.156H12zM7.354%204.225c-2.08%200-3.903%201.988-3.903%204.255%200%205.74%207.035%2011.596%208.55%2011.658%201.52-.062%208.55-5.917%208.55-11.658%200-2.267-1.822-4.255-3.902-4.255-2.528%200-3.94%202.936-3.952%202.965-.23.562-1.156.562-1.387%200-.015-.03-1.426-2.965-3.955-2.965z%22%2F%3E%3C%2Fsvg%3E);
}
.tweet-box .Icon--replyEdge {
	width: 1.25em;
	background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23657786%22%20d%3D%22M14.046%202.242l-4.148-.01h-.002c-4.374%200-7.8%203.427-7.8%207.802%200%204.098%203.186%207.206%207.465%207.37v3.828c0%20.108.045.286.12.403.143.225.385.347.633.347.138%200%20.277-.038.402-.118.264-.168%206.473-4.14%208.088-5.506%201.902-1.61%203.04-3.97%203.043-6.312v-.017c-.006-4.368-3.43-7.788-7.8-7.79zm3.787%2012.972c-1.134.96-4.862%203.405-6.772%204.643V16.67c0-.414-.334-.75-.75-.75h-.395c-3.66%200-6.318-2.476-6.318-5.886%200-3.534%202.768-6.302%206.3-6.302l4.147.01h.002c3.532%200%206.3%202.766%206.302%206.296-.003%201.91-.942%203.844-2.514%205.176z%22%2F%3E%3C%2Fsvg%3E);
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}
.tweet-box .Icon--retweetEdge {
	width: 1.25em;
	background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23657786%22%20d%3D%22M23.77%2015.67c-.292-.293-.767-.293-1.06%200l-2.22%202.22V7.65c0-2.068-1.683-3.75-3.75-3.75h-5.85c-.414%200-.75.336-.75.75s.336.75.75.75h5.85c1.24%200%202.25%201.01%202.25%202.25v10.24l-2.22-2.22c-.293-.293-.768-.293-1.06%200s-.294.768%200%201.06l3.5%203.5c.145.147.337.22.53.22s.383-.072.53-.22l3.5-3.5c.294-.292.294-.767%200-1.06zm-10.66%203.28H7.26c-1.24%200-2.25-1.01-2.25-2.25V6.46l2.22%202.22c.148.147.34.22.532.22s.384-.073.53-.22c.293-.293.293-.768%200-1.06l-3.5-3.5c-.293-.294-.768-.294-1.06%200l-3.5%203.5c-.294.292-.294.767%200%201.06s.767.293%201.06%200l2.22-2.22V16.7c0%202.068%201.683%203.75%203.75%203.75h5.85c.414%200%20.75-.336.75-.75s-.337-.75-.75-.75z%22%2F%3E%3C%2Fsvg%3E);
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}
.tweet-box .Identity-name {
	font-weight: 700;
}
.tweet-box .Identity-screenName {
	color: #697882;
}
.tweet-box .Identity:focus {
	text-decoration: none;
}
.tweet-box .Identity:focus .Identity-name {
	text-decoration: underline;
}
.tweet-box .EmbeddedTweet {
	overflow: hidden;
	/* cursor: pointer; */
	background-color: #fff;
	border: 1px solid #e1e8ed;
	border-radius: 4px;
	max-width: 520px;
}
.tweet-box .EmbeddedTweet--edge {
	border-radius: 5px;
}
.tweet-box .EmbeddedTweet:hover {
	border-color: #ccd6dd;
}
.tweet-box .EmbeddedTweet-tweet {
	padding: 20px 20px 11.6px 20px;
}
.tweet-box .FollowButton-bird {
	position: relative;
	top: 1px;
	display: inline-block;
}
.tweet-box .tweet-InformationCircle-widgetParent {
	position: relative;
}
.tweet-box .Tweet-header {
	position: relative;
	padding-left: 45px;
	white-space: nowrap;
}
.tweet-box .Tweet-brand {
	position: relative;
	z-index: 1;
}
.tweet-box .Tweet-text {
	white-space: pre-wrap;
	cursor: text;
}
.tweet-box .Tweet.is-deciderHtmlWhitespace .Tweet-text {
	white-space: normal;
}
.tweet-box .Tweet-body {
	margin-top: 14px;
}
.tweet-box .Tweet-text[dir="ltr"] {
	text-align: left;
	direction: ltr;
}
.tweet-box .Tweet-text + .Tweet-metadata {
	margin-top: 3.2px;
}
.tweet-box .Tweet-metadata {
	font-size: 14px;
	color: #697882;
}
.tweet-box .Tweet-actions {
	margin-top: 8.4px;
	padding-left: 0px;
}
.tweet-box .Tweet-text.e-entry-title{
	color: black;

}

.tweet-box .Tweet-action {
	display: inline-block;
}
.tweet-box .Tweet-action + .Tweet-action {
	margin-left: 14px;
}
.tweet-box .TweetAction,
.TweetAction:visited {
	color: #697882;
}
.tweet-box .TweetAction-stat {
	display: inline-block;
	font-size: 14px;
	vertical-align: text-bottom;
}
.tweet-box .TweetAction--replyEdge:active,
.tweet-box .TweetAction--replyEdge:focus,
.tweet-box .TweetAction--replyEdge:hover {
	color: #1da1f2;
	text-decoration: none;
}
.tweet-box .TweetAction--replyEdge:active .TweetAction-icon,
.tweet-box .TweetAction--replyEdge:focus .TweetAction-icon,
.tweet-box .TweetAction--replyEdge:hover .TweetAction-icon {
	background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%231DA1F2%22%20d%3D%22M14.046%202.242l-4.148-.01h-.002c-4.374%200-7.8%203.427-7.8%207.802%200%204.098%203.186%207.206%207.465%207.37v3.828c0%20.108.045.286.12.403.143.225.385.347.633.347.138%200%20.277-.038.402-.118.264-.168%206.473-4.14%208.088-5.506%201.902-1.61%203.04-3.97%203.043-6.312v-.017c-.006-4.368-3.43-7.788-7.8-7.79zm3.787%2012.972c-1.134.96-4.862%203.405-6.772%204.643V16.67c0-.414-.334-.75-.75-.75h-.395c-3.66%200-6.318-2.476-6.318-5.886%200-3.534%202.768-6.302%206.3-6.302l4.147.01h.002c3.532%200%206.3%202.766%206.302%206.296-.003%201.91-.942%203.844-2.514%205.176z%22%2F%3E%3C%2Fsvg%3E);
}
.tweet-box .TweetAction--retweetEdge:active,
.tweet-box .TweetAction--retweetEdge:focus,
.tweet-box .TweetAction--retweetEdge:hover {
	color: #17bf63;
	text-decoration: none;
}
.tweet-box .TweetAction--retweetEdge:active .TweetAction-icon,
.tweet-box .TweetAction--retweetEdge:focus .TweetAction-icon,
.tweet-box .TweetAction--retweetEdge:hover .TweetAction-icon {
	background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%2317BF63%22%20d%3D%22M23.77%2015.67c-.292-.293-.767-.293-1.06%200l-2.22%202.22V7.65c0-2.068-1.683-3.75-3.75-3.75h-5.85c-.414%200-.75.336-.75.75s.336.75.75.75h5.85c1.24%200%202.25%201.01%202.25%202.25v10.24l-2.22-2.22c-.293-.293-.768-.293-1.06%200s-.294.768%200%201.06l3.5%203.5c.145.147.337.22.53.22s.383-.072.53-.22l3.5-3.5c.294-.292.294-.767%200-1.06zm-10.66%203.28H7.26c-1.24%200-2.25-1.01-2.25-2.25V6.46l2.22%202.22c.148.147.34.22.532.22s.384-.073.53-.22c.293-.293.293-.768%200-1.06l-3.5-3.5c-.293-.294-.768-.294-1.06%200l-3.5%203.5c-.294.292-.294.767%200%201.06s.767.293%201.06%200l2.22-2.22V16.7c0%202.068%201.683%203.75%203.75%203.75h5.85c.414%200%20.75-.336.75-.75s-.337-.75-.75-.75z%22%2F%3E%3C%2Fsvg%3E);
}
.tweet-box .TweetAction--heartEdge:active,
.tweet-box .TweetAction--heartEdge:focus,
.tweet-box .TweetAction--heartEdge:hover {
	color: #e0245e;
	text-decoration: none;
}
.tweet-box .TweetAction--heartEdge:active .TweetAction-icon,
.tweet-box .TweetAction--heartEdge:focus .TweetAction-icon,
.tweet-box .TweetAction--heartEdge:hover .TweetAction-icon {
	background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23E0245E%22%20d%3D%22M12%2021.638h-.014C9.403%2021.59%201.95%2014.856%201.95%208.478c0-3.064%202.525-5.754%205.403-5.754%202.29%200%203.83%201.58%204.646%202.73.813-1.148%202.353-2.73%204.644-2.73%202.88%200%205.404%202.69%205.404%205.755%200%206.375-7.454%2013.11-10.037%2013.156H12zM7.354%204.225c-2.08%200-3.903%201.988-3.903%204.255%200%205.74%207.035%2011.596%208.55%2011.658%201.52-.062%208.55-5.917%208.55-11.658%200-2.267-1.822-4.255-3.902-4.255-2.528%200-3.94%202.936-3.952%202.965-.23.562-1.156.562-1.387%200-.015-.03-1.426-2.965-3.955-2.965z%22%2F%3E%3C%2Fsvg%3E);
}
.tweet-box .TweetAuthor {
	margin-top: 2px;
	line-height: 0;
	max-width: 100%;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	word-wrap: normal !important;
}
.tweet-box .TweetAuthor-link {
	line-height: 1.2;
	display: inline-block;
}
.tweet-box .TweetAuthor-avatar {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	overflow: hidden;
	background-color: transparent;
	border-radius: 4px;
}
.tweet-box .TweetAuthor-screenName {
	font-size: 14px;
}
.tweet-box .TweetAuthor-screenName:before {
	white-space: pre;
	content: "\A\200e";
}
.tweet-box .TweetAuthor-verifiedBadge {
	position: absolute;
	top: 0;
}
#msg-tweet-preview{
	width: 400px !important;
	margin: -200px;
	display: block;
	z-index: 270;
	position: absolute !important;
	left: 400px;
	top: 800px;
	
}

#tweet-close-btn{
	float: right;
	background-color: transparent;
}

#msg-tweet-preview .header{
	user-select: none;
	cursor: move;
}
